
.work-sans {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
/* shared styles */
.dark-1{
    color:#0D1321 ;  
}
.yollow{
   background-color: #FFDF000D
}
.blue{
    background-color: #004CE80D;
}
.pink{
    background-color: #FF4C1E0D;
}

/* header */
nav ul{
    display: flex;
    justify-content: space-between;
   margin: 30px 150px;
}
.section-title{
    color:#0D1321 ;
    font-weight: bolder;
    font-size: 32px;
    text-decoration: none;
}
.first-btn{
    color: #0D1321;
    font-weight: 200;
    font-size: 20px;
    background-color: white;
    padding: 17px 24px 17px 24px;
    border-radius: 10px;

}
.banner{
    text-align: center;
    background-image: url("../assets/Hero-bg.png");
    margin-top: 50px;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-des{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.second-btn{
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: black;
    border-radius: 10px;
    gap: 10;
    padding: 21px 24px 21px 24px
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* box styles */
.box{
    border-radius: 10px;
    padding: 130px 150px;
    background-color : rgba(0, 0, 0, 0.02),rgb(255, 255, 255);
    text-align: center;
}
.section-title{
    font-size: 32px;
    font-family: Azeret Mono;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
}
.section-des{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
}
.box-items{
   display: flex;
   justify-content:space-around;
}
.item-title{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.item-des{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.box-item{
    text-align: left;
    margin-right: 100px;
    margin-top: 80px;
    padding-left: 48px;
}
.box-img{
    margin-top: 80px;
}
/* video styles */
.video{
    text-align: center;
}
.video-style{
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
gap: 10;
padding: 32px;
position: static;
margin-top: 30px;
padding: 20;
}
/* skill styles */
.skills{
    text-align: center;
    margin: 100px;
}
.skill-conteiner{
    display: flex;
    gap: 24px;
    text-align: left;
}
.skill{
    padding: 40px;
}
.more{
    color: black;
    text-align: left;
}
/* card styles */
.cards{
    text-align: center;
}
.card{
    display: flex;
    justify-content: center;
    margin: 30px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 20px;

}
.card-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
letter-spacing: 0%;
text-align: left;
}
.card-des{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
}
.asif{
    padding-top: 90px;
}
.mihir{
    padding: 30px;
}
/* uddin styles */
.uddins{







}
.uddin{
    text-align: center;
    margin: 50px;
    background-image: url(../assets/handshake.jpg);
    Width: 100%;
Height: 420px;
Top: 4752px;
Left: 150px;
border-radius: 16px;
 padding: 60px, 30px, 60px, 30px

    
    
    
    
}
.title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    padding: 100px 0 0 0;
}
.des{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 30px;
}
.btn{
width: 548px;
height: 57px;
border-color: white;
}
::placeholder{
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
    position: static;
width: 313px;
height: 19px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 19px 20px 19px 20px;
}
.bal{
    display: flex;
    justify-content:center;
    gap: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    
    border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
padding: 50px 200px;
}
.foot-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-decoration: solid;
    
}

